@import url('https://fonts.googleapis.com/css?family=Pangolin');

.App {
  background: lightblue;
  font-family: 'Pangolin', cursive;
}

.canvas {
  cursor: pointer;
  /* margin: auto; */
  display: block;
}

.char-input {
  padding: 0;
  margin:  0;
  border:  none;
  font-weight: bold;
  /* background: rgba(0, 0, 0, 0.0); */
  background: #ddd;
  position:   absolute;
  text-align:  center;
  text-transform: uppercase;
  font-family: 'Pangolin', cursive;
}
